@page "/sets"
@using System.Text.Json.Nodes
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory

<PageTitle>Sets</PageTitle>

<h1>Sets</h1>


<form method="post" @onsubmit="ImportSet" @formname="setimport">
    <AntiforgeryToken/>
    <div>
        <label>
            <InputText @bind-Value="_setId"/>
        </label>
    </div>
    <div>
        <button type="submit">Import</button>
    </div>
</form>

@code {
    private string? _setId;
    JsonObject? _set;
    private const string BaseUrl = "https://rebrickable.com/api/v3/lego/";

    private async Task ImportSet()
    {
        var client = ClientFactory.CreateClient();
        
        try
        {
            RebrickableApi rebrickableApi = new RebrickableApi();
        
            _set = await rebrickableApi.GetSetInfo(client, _setId);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            
            throw;
        }
                
        // ImportData importData = new ImportData();
        
        // if (!importData.ImportSetInfo(client, setId))
        // {
        //     throw new Exception("No set found");
        // }

        // if (!importData.ImportSetParts(setId))
        // {
        //     throw new Exception("No set found");
        // }
    }

}